
.home-nadi-astrology-bio{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10%;
    padding: 0 0 2rem 0;
    /* border: 1px solid black; */
}

.home-nadi-astrology-bio-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3rem 2rem; */
    /* border: 1px solid black; */

}

.home-nadi-astrology-bio-img img{
    width: 25rem;
    height: 25rem;
}

.home-nadi-astrology-bio-para {
    width: 100%;
    height: max-content;
    padding: 0 1rem 1rem 1rem;
    /* border: 1px solid black; */

}

.home-nadi-astrology-bio-para p{
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    text-indent: 3rem;
    font-weight: 600;
    line-height: 1.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--color4);
}

#read-more-id{
    width: max-content;
    border-bottom: 2px solid none;
    text-indent: 0;
    float:inline-end;
    cursor: pointer;
    margin: 0;
}

.home-nadi-astrology-bio-para:nth-last-child(){
    border-bottom-color:var(--color6);
    transition: all;
    transition-duration: 250ms;
    color: white;
}


#read-more-id{
    /* margin-right: 2rem; */
    width: max-content;
    border-bottom: 2px solid var(--color6);
}

@media screen and (max-width:1024px) {


    .home-nadi-astrology-bio{
        width: 90%;
        margin: 0 10% 0 5%;
        padding-top:2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

    }

    .home-nadi-astrology-bio-img{
        width: max-content;
        padding: 0 2rem 2rem 2rem;
    }

    .home-nadi-astrology-bio-img img{
        width: 19rem;
        height: 23rem;  
    }

    .home-nadi-astrology-bio-para{
       padding: 0 2rem 2rem 2rem;
    }

    .home-nadi-astrology-bio-para p{
        font-size: .8rem
    }

    #read-more-id{
        /* margin-right: 2rem; */
        width: max-content;
        border-bottom: 2px solid var(--color6);
    }
    
}

@media screen and (max-width:768px) {

    .home-nadi-astrology-bio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .home-nadi-astrology-bio-img img{
        width: 19rem;
        height: 20rem;  
    }

    .home-nadi-astrology-bio-para p span{
       padding: 0 2rem;
    }

    #read-more-id{
        margin-right: 2rem;
        width: max-content;
        border-bottom: 2px solid var(--color6);
    }
}

