
.header-top-parent{
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:var(--color6);
    /* background-color: #f5af19; */
    /* color: var(--color1); */
    color: var(--color8);
    position: sticky;
    top: 0;
    z-index: 99999999;
    
}

.header-nav-menu ul{
    display: flex;
    flex-direction: row;
}

.header-nav-menu ul li{
    text-decoration: none;
    margin: 0 1rem;
    list-style: none;
    font-weight: 800;
    cursor: pointer;
    transition: all;
    transition-duration: 250ms;
    border-bottom: 2px solid var(--color3);
}

.header-nav-menu ul li:hover{
    border-bottom-color:2px solid var(--color6);
}