.online-services-top-parent{
    width: 100%;
    height: max-content;
}

/* .online-services-heading::before{
    background-image: url('./bg-14.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    width: 100%;
    height: 43%;
    border-bottom-right-radius:100px;
    position: absolute;
    z-index: 999;
    filter: blur(5px);
} */

.online-services-heading{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius:100px;    
    background-image: url('./bg-14.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.online-services-heading h1{
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--color8);
    z-index: 999;
}

.online-nadi-prediction-top-parent{
    width: 100%;
    height: max-content;
}

.online-nadi-procedure-top-parent{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#online-nadi-procedure-component{
    margin: -2rem 0 0 0;
}

/* .online-nadi-procedure-top-parent h1{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: var(--color1);
} */

#divider-id-nadi-procedure{
   width: 20vw;
   margin: -3rem 0 0 0;   
}

.book-appointment-topic-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.book-appointment-top-parent{
    width: 100%;
    height: max-content;
    background-image: url('./bg-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 0;
    opacity: .9;
    /* margin: -3rem 0 0 0; */

}

.online-services-languages{
    margin: 0 0 8rem 0 ;
}

#onlineService-heading-id{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: var(--color1);
}


@media screen and (max-width: 1024px) {

    .online-services-heading{
        width: 100vw;
        height: 15rem;
        /* border-bottom-right-radius: 110px; */
    }

    .online-services-heading h1{
        font-size: 3rem;
    }

    .book-appointment-top-parent{
        padding: 3rem 0;
    }
    
}

@media screen and (max-width:768px) {

   .online-services-heading h1{
    font-size: 1.5rem;
   }

   .online-services-heading{
    height: 13rem;
   }

   .book-appointment-topic-div{
    margin-bottom: 3rem;
   }
    
}