.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.5s;
}
.Link,
.scroll-to-top {
  position: fixed;
  bottom: 80px;
  right: 0px;
  transition: ease-in-out 0.5s;
  margin: 0;
}
.Link:hover {
  scale: 1.1;
  transition: ease-in-out 0.3s;
}

.Link img {
  width: 150px;
  height: 100%;
  transition: ease-in-out 0.5s;
}
.scroll-to-top {
  bottom: 30px;
  width: 55px;
  right: 45px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}
.scroll-to-top button {
  outline: none;
  border: none;
  /* padding: 0px 60px; */
  background-color: transparent;
  cursor: pointer;
}
.scroll-to-top svg {
  rotate: 180deg;
}

.bottom-link {
  bottom: 0 !important;
}

@media screen and (max-width:1024px) {

  
}

@media screen and (max-width:768px) {

  .Link{
    right: -1rem;
  }
  .Link img{
    width: 100px;
    height: 100%;
    right: 1rem;
    /* display: block */
  }

  .scroll-to-top{
    width: 35px;
    height: 35px;
    right: 1rem;
  }
  
}
