.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}
.Link:hover {
  scale: 1.1;
  transition: ease-in-out 0.5s;
}
.Link img {
  width: 150px;
  height: 100%;
}
