.home-about-us{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    /* border: 1px solid white; */
    color: var(--color9);
    margin: 0 10%;
}

.home-about-us-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
}

.home-about-us-img img{
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    border-radius: 10px;
}

.home-about-us-para{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid red; */
}

.home-about-us-para p{
    width: 100%;
    height: max-content;
    text-align: justify;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    text-indent: 5rem;
    font-weight: 600;
    color: var(--color4);
}

#home-about-us-read-more-id{
    /* border: 1px solid rebeccapurple; */
    width: max-content;
    border-bottom: 2px solid var(--color3);
    text-indent: 0;
    float:inline-end;
    cursor: pointer;
    margin: 0;
}

@media screen and (max-width:1024px) {

    .home-about-us{
        width: 90%;
        margin: 0 10% 0 5%;
        padding-top:2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .home-about-us-img{
        width: max-content;
        padding: 0 2rem 2rem 2rem;
    }

    .home-about-us-img img{
        width: 19rem;
        height: 23rem;  
    }

    .home-about-us-para{
        padding: 0 2rem 2rem 2rem;
    }

    .home-about-us-para p{
        font-size: .8rem

    }

    /* #home-about-us-read-more-id{
        width: max-content;
        float: right;
    } */
    
}

@media screen and (max-width:768px) {
    
    .home-about-us{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right:0 ;
    }

    .home-about-us-img img{
        width: 19rem;
        height: 20rem; 
    }

    .home-about-us-para p span{
       padding: 0 2rem;

    }
}